# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
auction_scraper/.venv/
auction_scraper/output/
auction_scraper/__pycache__/
auction_scraper/tests/__pycache__/
